<script>
function delete_transaction(id) {
    $.post('/delete_transaction',
            {id: id},
            function (data) {
                location.reload();
            });
}
</script>

{{#if transactions}}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Currency from</th>
            <th scope="col">Money</th>
            <th scope="col">Currency to</th>
            <th scope="col">Currency exchange course</th>
            <th scope="col">Deadline</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each transactions}}
            <tr>
                <td>{{this.currency_from}}</td>
                <td>{{this.money}}</td>
                <td>{{this.currency_to}}</td>
                <td>{{this.currency_exchange_course}}</td>
                <td>{{this.deadline}}</td>
                <td><button class="btn btn-danger" onclick="delete_transaction({{this.id}})">Delete transaction</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="text-center">You have no transactions</p>
{{/if}}