<script>
function delete_transaction(id) {
    $.post('/delete_transaction',
            {id: id},
            function (data) {
                location.reload();
            });
}
</script>

{{#each transactions}}
    <p>{{this.currency_from}} {{this.currency_to}} {{this.money}} {{this.currency_exchange_course}} {{this.deadline}}</p>
    <button onclick="delete_transaction({{this.id}})">Delete transaction</button>
{{else}}
    <p>You have no transactions</p>
{{/each}}